Repository hmcts/draft-store, pull requests merged in 2019-05, with the labels that each got.

#289 Enabling deployment to AAT staging
  Jenkinsfile_CNP
  charts/draft-store-service/values.aat.template.yaml
Labels: ns:draft-store-service-pr-289

#291 Fix terraform deprecation warnings
  infrastructure/.gitignore
  infrastructure/main.tf
Labels: ns:draft-store-service-pr-291

#296 Use ext for version for rest assured
  build.gradle
Labels: ns:draft-store-service-pr-296

#297 bump java chart version
  charts/draft-store-service/Chart.yaml
  charts/draft-store-service/requirements.yaml
Labels: ns:draft-store-service-pr-297

#299 CVE 2019-12086
  build.gradle
Labels: ns:draft-store-service-pr-299

#302 Bump java chart version
  charts/draft-store-service/Chart.yaml
  charts/draft-store-service/requirements.yaml
Labels: ns:draft-store-service-pr-302

#303 Bump java chart version
  charts/draft-store-service/Chart.yaml
  charts/draft-store-service/requirements.yaml
Labels: ns:draft-store-service-pr-303
