Repository hmcts/draft-store, pull requests merged in 2019-03, with the labels that each got.

#267 ROC-5323 user's document type counts report endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/draftstore/data/DraftStoreDaoTest.java
  src/main/java/uk/gov/hmcts/reform/draftstore/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/draftstore/data/DraftStoreDao.java
  src/main/java/uk/gov/hmcts/reform/draftstore/data/model/DocumentTypeCount.java
  src/main/java/uk/gov/hmcts/reform/draftstore/service/AuthService.java
  src/main/java/uk/gov/hmcts/reform/draftstore/service/DraftService.java
  src/test/java/uk/gov/hmcts/reform/draftstore/service/draftservice/UserReportTest.java
Labels: ns:draft-store-service-pr-267

#268 ROC-5323 Add tests for report controller
  src/test/java/uk/gov/hmcts/reform/draftstore/controllers/ReportControllerTest.java
Labels: ns:draft-store-service-pr-268

#269 Adding tag to postgres to be able to control in AAT
  charts/draft-store-service/Chart.yaml
  charts/draft-store-service/requirements.yaml
  charts/draft-store-service/values.template.yaml
Labels: ns:draft-store-service-pr-269

#270 Added password as secret
  build.gradle
  charts/draft-store-service/Chart.yaml
  charts/draft-store-service/requirements.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:draft-store-service-pr-270

#272 Fixing dependency issue
  build.gradle
Labels: ns:draft-store-service-pr-272

#273 Add SIDAM changes
  Jenkinsfile_CNP
  charts/draft-store-service/values.aat.template.yaml
Labels: ns:draft-store-service-pr-273

#276 Added common_tags to key vault
  infrastructure/main.tf
Labels: ns:draft-store-service-pr-276

#277 Upgrade TF provider
  infrastructure/main.tf
Labels: ns:draft-store-service-pr-277
