Repository hmcts/draft-store, pull requests merged in 2019-07, with the labels that each got.

#320 Migrate to new repo conventions
  Dockerfile
Labels: ns:draft-store-service-pr-320

#321 Test prod registry change
  Jenkinsfile_CNP
  charts/draft-store-service/Chart.yaml
Labels: ns:draft-store-service-pr-321

#323 Use hmctspublic chart
  charts/draft-store-service/requirements.yaml
  charts/draft-store-service/values.yaml
Labels: ns:draft-store-service-pr-323

#324 Adding Pod Identity in AAT
  charts/draft-store-service/values.aat.template.yaml
  infrastructure/aat.tfvars
Labels: ns:draft-store-service-pr-324

#326 Update jackson databind
  .dependabot/config.yml
  Jenkinsfile_CNP
  build.gradle
Labels: ns:draft-store-service-pr-326

#328 Update deps
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:draft-store-service-pr-328
