Repository hmcts/draft-store, pull requests merged in 2020-04, with the labels that each got.

#558 Upgrade to latest chart-java
  charts/draft-store-service/Chart.yaml
  charts/draft-store-service/requirements.yaml
Labels: ns:rpe, rel:draft-store-service-pr-558

#567 Integrate HMCTS Java plugin
  build.gradle
  config/checkstyle/checkstyle.xml
Labels: ns:rpe, rel:draft-store-service-pr-567

#584 Test (empty) PR for external-dns
  Jenkinsfile_CNP
Labels: ns:rpe, rel:draft-store-service-pr-584

#588 Upgrade to latest chart java
  charts/draft-store-service/Chart.yaml
  charts/draft-store-service/requirements.yaml
Labels: ns:rpe, rel:draft-store-service-pr-588
